#show-stats img {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 30px;
  border-radius: 0px;
  background-color: #FFF;
  color: #d0c6c6;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}